*{margin: 0;
    padding: 0;
    background-color:#fff;
}
nav{
    display:flex;
    justify-content:space-between;
   
}
ul{
    display: flex;
}
ul li{
    list-style-type:none;
    padding-left:45px;
    margin-top:30%;
}
ul li a{
    text-decoration:none;
    font-size: 20px;
    
}
button{
    height: 35px;
    width: 95px;
    color:#643dcc;
    background-color:#fff;
    margin-right:500px;
    margin-top: 20px;
    border-color: #643dcc;
}
.container1
{
    height:65%;
    width:30%;
    margin-top: 10%;
    margin-left: 10%;
   
}
h3{
    font-size:85px;
}
h5{
    font-size:20px;
}
.btn button {
    font-size: 15px;
 color:#fff;
 margin-top:-150px;
 margin-left:10%;
 background-color:#643dcc;
 width:100px;

}
.btn1 button {
    font-size: 15px;
    color:#643dcc;
    margin-top:-150px;
    margin-left:17%; 
    background-color:transparent;
    width:100px;
    
}
.container2{
    margin-left:55%;
    margin-top:-40%;
    
    

}
.features{
   
    margin-top:15%;
    text-align:center;
}
.features h3{
    font-size:35px;
    
}
.features h1{
    font-size:20px;
    color:#643dcc
}
.container3{
    

    margin-left:65%;
    margin-top: 10%;
    width: 400px;
}
.container4{
    margin-left:18%;
    margin-top: -25%;
}
.btn3{
    margin-top:7%;
    margin-right: 10%;

}
.card{
    display:flex;
    justify-content:space-evenly;
    background-color:transparent;


}
.card1{
    height:400px;
    width:400px;
    margin:10px 15px;
    background-color:#643dcc;
    font-size:25px;
    text-align:center;
   color:white;

}
.card .card1{
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.container3 h3 p{
    width:95%;
}
.container3 h5 p{
    width:95%;
}


.container5{
    height: 250px;
    width:100%;
    background-color:#341f6f;
    margin-top:125px;

}
 .socialicon{
    height:25px;
    width: 25px;
}